.fadeIn{
	animation: fadein 1s;
}

.fadeOut{
	animation: fadeout 1s;
}

.setWinner{
	animation: winner 1s;
}

@keyframes fadein{
	from{
		margin-left: -300px;
		opacity: 0;
		width: 0%;
	}
	to{
		margin-left: 0px;
		opacity: 1;
		width: 100%;
	}
}

@keyframes fadeout{
	from{
		opacity: 1;
		height: 100%;
	}
	to{
		opacity: 0;
		height: 0%;
	}
}

@keyframes winner{
	0%{
		transform: rotate(0deg);
		opacity: 0;
	}

	10%{
		transform: rotate(300deg);
		opacity: .01;
	}

	850%{
		transform: rotate(555deg);
		opacity: .02;
	}

	100%{
		transform: rotate(720deg);
		opacity: 1;
	}
}