/*Import elements*/
@import url('https://fonts.googleapis.com/css?family=Acme|Architects+Daughter');

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100vh;
	width: 100%;
}

section{
	margin-top: 2rem;
}

span,p{
	font-family: 'Acme', sans-serif;
}

nav{
	width: 100%;
	background: rgb(210,187,101);	
}

nav img{
	height: 5em;
}

nav a{display: inline-block;}

a:link{
    text-decoration: none;
}

footer{
	position: fixed;
	bottom: 0px;
	height: 10%;
	background-color: rgb(192,184,175);
	text-align: center;

	width: 100%;
}

footer h4{
	margin-top: 1rem;
	font-family: 'Acme', sans-serif;
}

/*Class*/

	.center{
		text-align: center;
	}

	.text-card{
	    font-size: 1.4rem;
	}

	.c-white{
		color: white;	
	}

	.title{
		font-size: 3rem;
	    font-family: 'Architects Daughter', cursive;
	    color: rgb(82,4,6);
	}

	.container_addusers{
		height: 30rem;
	    padding: 2rem !important;
	}

	.container_animation{
		height: 25rem;
	    padding: 4rem !important;
	    background-color: rgb(219,204,202);
	    border-radius: 2%;
	}

	.hidden{
		display: none;
	}

	.frame-top{
		padding-top: 2em;
	}

	.action_box{
		height: 5rem;
		background: black;
		border-radius: 2%;	
	}

	.action_box input{
		height: 70%;
	    margin-top: .8rem;
	    border: 0px;
	    border-radius: 3%;
	    width: 75%;

	    text-align: center;
	    font-family: 'Acme', Arial;
	    font-size: 1rem;
	}

	.action_box button{
		height: 63%;
	    width: 20%;
	    margin: 1% 0% 0% 3%;
        box-shadow: 7px 7px 1px -1px white;
	    border: 0px;
	    border-radius: 3%;
	    color: black;
	    background: rgb(228,202,51);
	    font-size: 1.2rem;
	    font-family: 'Acme',Arial;
 		cursor: pointer;
	    transition: all .3s;
	}

	.action_box button:hover{
		background: rgb(228,212,51);
		box-shadow: 7px 7px 1px 1px white;
	}

	.simple_card{
		display: flex;

	    width: 100%;
	    background: rgb(169,79,71);
	    border-radius: 10px;
	    height: 4rem;
	    padding: .5rem;
	    padding-left: 1rem;
	    margin-bottom: .7rem;
	}

	.id_number{
		text-align: center;
	    position: relative;

	    width: 57px;
	    height: 57px;
	    margin: .17rem;
	    border-radius: 50%;
	    background: white;
	    overflow: auto;
	}

	.id_number span{
	    font-size: 1.5rem;
	    top: .7rem;
	    left: 16.1px;
	    position: absolute;
	    color: black;
	}

	.circle{
	    margin: .4rem;
	    border-radius: 50%;
	    height: 3rem;
	    width: 3rem;
	    position: relative;
	}

	.number-circle{
		position: absolute;
	    top: 16%;
	    left: 15%;
	    font-size: 1.5rem;
	}

	.close-btn{
		margin-top: 1rem;
		font-size: 1.3rem;
	}

	.white{
		background: white;
	}

	.s-card{
	    margin: .7rem 0rem 0rem 0rem!important;
	    background: rgb(169,79,71);
	    height: 4em;
	    border-radius: 5px;
	}

	.c-yellow{
		color : rgb(228,202,51);
	}

	.name_box{
		overflow-x: auto;
	    padding-top: 2%;
	}

	.container_users{
		height: 50vh;
		overflow-x: auto;
	}

	.img-medium{
		height: 7em;
	}

	.namewinner{
	    color: black;
	    font-size: 2rem;
	}

	.numberwinner{
    	font-size: 1.7rem;
    	font-family: 'Acme', Arial;
	}


/*End ID*/

	#empty-user{
	    position: absolute;
	    width: 100%;
	    text-align: center;
	    top: 30%;
	    font-size: 2rem;
	    color: rgb(43,43,43);
	}

	#userslist{
	    margin-top: 1em;
	    position: relative;
	}

	#btn_go{
	    height: 3rem;
	    width: 20%;
	    margin: 1% 0% 0% 3%;
	    border: 0px solid black;
	    box-shadow: 7px 7px 1px -1px black;
	    border-radius: 3%;
	    color: black;
	    background: rgb(228,202,51);
	    font-size: 1.2rem;
	    font-family: 'Acme',Arial;
	    transition: all .3s;
	    margin-bottom: 3rem;
 		cursor: pointer;
	    transition: all .3s;
	}
	
	#btn_go:hover{
		background: rgb(228,212,51);
		box-shadow: 7px 7px 1px 1px black;
	}


/*tableta and mobile*/
@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 736px) {

	html,body{
		overflow-y: auto;
		overflow-x: auto;
		height: auto;
	}

	.action_box input{
		width: 70%;
	    margin-left: .5rem;
	}

	.action_box button{
		margin: 1% 0% 0% 1%;
	    height: 70%;
	}

	.circle{
        margin: 0.7rem 0.3rem;
	    height: 2rem;
	    width: 2rem;
	}

	.number-circle{
		position: absolute;
	    top: 16%;
	    left: 30%;
	    font-size: 1rem;
	}

	.name_box{
		overflow-x: auto;
	    padding-top: 5%;
	}

	.close-btn{
		font-size: 1rem;
	}

	.text-card{
		margin-top: 1.4rem;
	    font-size: 1rem;
	}

	.img-medium{
		height: 4em;
		margin-bottom: 2rem;
	}

	#btn_go{
	    width: 80%;
	}


}